stages:
  - build
  - test
  - package

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

before_script:
  - echo "Using Java 17"
  - java -version
  - mvn -version

build:
  stage: build
  script:
    # Incrementa versão com o número do pipeline
    - mvn versions:set -DnewVersion=1.0.$CI_PIPELINE_IID-$CI_COMMIT_SHORT_SHA
    # Compila o projeto
    - mvn clean package -DskipTests
  artifacts:
    paths:
      - target/*.jar

test:
  stage: test
  script:
    - mvn test

package:
  stage: package
  script:
    - echo "Versão final do build: $(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)"
    # Aqui você poderia construir a imagem Docker com tag única
    - docker build -t myregistry/myapp:1.0.$CI_PIPELINE_IID-$CI_COMMIT_SHORT_SHA .
    - docker push myregistry/myapp:1.0.$CI_PIPELINE_IID-$CI_COMMIT_SHORT_SHA
