# Define o nome do pipeline
stages:
  - build
  - test

# Job de build
build-job:
  stage: build
  image: maven:3.9.0-eclipse-temurin-17  # imagem com Maven e JDK 17
  script:
    - mvn clean package -DskipTests  # build da aplicação, sem rodar testes
  artifacts:
    paths:
      - target/*.jar  # mantém o JAR gerado para usar em outros jobs, se quiser

# Job de testes
test-job:
  stage: test
  image: maven:3.9.0-eclipse-temurin-17
  script:
    - mvn test  # executa os testes automatizados
  dependencies:
    - build-job  # garante que o build já foi feito antes de rodar os testes
